@import "../../styles/config";

.ButtonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}
.Button {
  height: 50px;
  background-color: #485570;
  border-radius: 50px;
  width: 20vw;
  min-width: 250px;
  min-height: 50px;
  height: 4vw;
  align-self: center;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  max-height: 80px;
  max-width: 400px;
}
