@import '../../styles/config';

.ButtonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}
.Button {
  height: 50px;
  border: 2px solid #485570;
  width: 20vw;
  min-width: 250px;
  min-height: 50px;
  height: 4vw;
  align-self: center;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #485570;
  font-size: 20px;
  max-height: 80px;
  max-width: 400px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  background: linear-gradient(to left, #f6f7f9 50%, #485570 50%) right;
  background-size: 200% 100%;

  &:hover {
    color: #fff;
    background-position: left;
  }
}

.SecondaryButton {
  background-color: #f6f7f9;
  border: 2px solid #485570;
  width: 120px;
  height: 35px;
  align-self: center;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #485570;
  font-size: 20px;
  cursor: pointer;

  transition: all ease-in-out 0.5s;
  background: linear-gradient(to left, #f6f7f9 50%, #485570 50%) right;
  background-size: 200% 100%;

  &:hover {
    color: #fff;
    background-position: left;
  }
}
