@import '../../styles/config.scss';

.HomeSectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.TitleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.Title {
  font-size: 40px;
  margin: 0;
}

.Statement {
  font-size: 20px;
  max-width: 400px;
  min-width: 250px;
  width: 25vw;
  margin-top: 2rem;
}

.ButtonWrapper {
  position: absolute;
  right: 1rem;
  top: 0px;
}

.Button {
  height: 50px;
  background-color: #485570;
  border-radius: 50px;
  width: 20vw;
  height: 4vw;
  align-self: center;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.HomeSectionWrapper {
  display: flex;
  flex-direction: column;
}

.ErrorWrapper {
  height: 20px;
  max-width: 250px;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.ErrorText {
  color: #ff3333;
  font-size: 14px;
  text-align: center;
}
