@import '../../styles/config.scss';

.LeaderboardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.LeaderboardTitleWrapper {
  margin-bottom: 2rem;
  text-align: center;
}

.Title {
  font-size: 40px;
  margin: 0;

  width: 100%;
}

.TableHeader {
  display: flex;
}
